* {
    margin: 0;
    padding: 0;
}

figure > img{
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
}

body{
    width: 50%;
    display: flex;
}


/* Estilos Aside */

aside{
    flex: 1;
    background-color: rgb(40, 38, 38);
    color: white;
}

figure{
    width: 100%;
}

svg{
    width: 10%;
}

a{
    color: #ffffff;
}

/* Estilos Main */
 main {
    flex: 1.5;
 }



/* Estilos Footer */